{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "react-hooks"
  ],
  "globals": {
    "window": true,
    "document": true
  },
  "parser": "@babel/eslint-parser"
}
